html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:"Corbel";
}

.imageBG {
    background-image: url("image_fireworks.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.barrePrincipale{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.barrePrincipale,.punchline{
    background-color: rgb(13, 45, 138);
}
.apresBarre {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}


.logo,.lien{
    color: white;
    font-size: 1.5em;
    font-weight: bolder;

}

.lien{
    text-decoration: none;
    padding-right: 2vw;
    padding-left: 2vw;
}

.punchline{
    font-size: 3em;
    color: white;
    font-weight: bolder;
    display: flex;

}
.marginTop{
    margin-top: 5%;
}
